body {
  margin: 10px 10px;
  font-size: 18px; 
  line-height: 1.4;  
  background-image: url('https://github.com/timothyw4231/dinitz-conjecture-review/blob/main/turquoise-background.jpg?raw=true'); background-size: 100% auto; 
  background-repeat: repeat-y; 
  font-family: Georgia  
}

article {
  max-width: 45rem;
  margin: 12px auto;
  padding: 50px;
  background-color: #f3fbfb; 
  border-radius: 10px;  
}

h1 {
  font-size: 28px;	
}

a:visited{
  color: #4eb394;
}

a:link{
  color:#468392;
}

p {
  padding-left: 10px; 
  padding-right: 10px;
}

h2 {
  color:#1a646e;
  font-size: 22px;
}
